<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Ejemplos de Vue.js</title>

	<link rel="icon" href="./icon-512x512.png" sizes="32x32" />
	<link rel="icon" href="./icon-512x512.png" sizes="192x192" />
	<link rel="apple-touch-icon-precomposed" href="./icon-512x512.png" />
	<meta name="msapplication-TileImage" content="./icon-512x512.png" />

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-mobile-web-app-title" content="Lista" />
	<link rel="apple-touch-startup-image" href="./icon-512x512.png" />
	
</head>
<body>

	<style>
	.hide {
		display: none;
	}
	.block {
		min-width: 30px;
		height: 30px;
		display: inline-block;
		line-height: 30px;
		text-align: center;
		color: #1B1B1B;
		padding: 0 4px;
	}
	.b1 {
		background: #309ABB;
		border: 1px solid #309ABB;
	}
	.b2 {
		background: #1B1B1B;
		border: 1px solid #1B1B1B;
		color: #FDFDFD;
	}
	.b3 {
		background: #86868F;
		border: 1px solid #86868F;
	}
	.b4 {
		background: #FDFDFD;
		border: 1px solid #e0e0e0;
	}
	</style>

	<div id="app" class="hide">

		<div v-for="i in 4" :class="'block b'+i">{{sumarProductos}}</div>

		<h1>{{titulo}}</h1>

		<input type="text" v-model="nuevoProducto" @keyup.enter="agregarProducto">
		<button @click="agregarProducto">Agregar</button>

		<ul>
			<li v-for="[i, producto] of productos.entries()">
				<button @click="eliminarProducto(i)">x</button>
				<button @click="sumarProducto(i)">+</button>
				<button @click="restarProducto(i)">-</button>
				<input type="number" min="0" @change="validarProducto(i)"
				v-model.number="producto.cantidad = (producto.cantidad === '') ? 0 : (producto.cantidad < 0) ? 0 : producto.cantidad">
				- {{producto.nombre}}
				<span v-if="producto.cantidad === 0"> - Sin stock</span>
			</li>
		</ul>

		<h4>Total de productos: {{sumarProductos}}</h4>
		
	</div>

	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="scripts.js?v=2"></script>
</body>
</html>